<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
    <div style="min-width: 5em;"></div>
    <div class="footer__body">
        <div>
            <p class="footer-message">Stay in touch...</p>
            <p class="footer-name">NUST - LMS</p>
            <div class="footer-links">
                <div><i class="fa-solid fa-globe"></i><a href="http://lms.nust.edu.pk">http://lms.nust.edu.pk</a></div>
                <div><i class="fa-solid fa-phone"></i><a href="http://lms.nust.edu.pk">LMS Focal Person (Institute Wise)</a></div>
                <div><i class="fa-solid fa-envelope"></i></i><a href="mailto:lms.team@nust.edu.pk">lms@seecs.edu.pk</a></div>
            </div>
        </div>
        <div class="footer-sites">
            <a href="https://www.instagram.com/nustgram/"><i class="fa fa-youtube-play" style="font-size:36px;color:red"></i></a>
            <a href="https://www.youtube.com/c/NUSTOfficial"><i class="fa fa-instagram" aria-hidden="true" style="font-size:36px;color:purple;" ></i></a>
            <a href="https://www.facebook.com/nationaluniversityofsciencesandtechnology"><i class="fa fa-facebook" aria-hidden="true" style="font-size:26px;color:white;background-color:#4267B2;padding:7px 7px 2.5px 7px;"></i></a>
            <a href="https://twitter.com/Official_NUST"><i class="fa fa-twitter" aria-hidden="true" style="font-size:36px;color:#1DA1F2;"></i></a>
            <br>
            <br>
            <button href="https://download.moodle.org/mobile?version=2020061503&lang=en&iosappid=633359593&androidappid=com.moodle.moodlemobile">Get the mobile version</button>
        </div>
    </div>
</footer>