<link rel="stylesheet" href="/css/sidebar.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

<div id="sidebar-icons">
    <div class="cross-icon">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <a class="dashboard-link" href="/student/dashboard">
        <div class="icon">
            <i class="fa-solid fa-house"></i>
            <span class="sidebar-heading">Dashboard</span>
        </div>
    </a>
    <a class="course-link" href="/courses">
        <div class="icon">
            <i class="fa-solid fa-graduation-cap"></i>
            <span class="sidebar-heading">Courses</span>
        </div>
    </a>
    <a class="calender-link">
        <div class="icon">
            <i class="fa-solid fa-calendar-days" id="calender_icon"></i>
            <span class="sidebar-heading">Calender</span>
        </div>
    </a>
    <div class="wrapper">
        <div class="close-calender">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <header>
            <p class="current-date"></p>
            <div class="icons">
                <i id="prev" class="fa-solid fa-chevron-left" style="color: #000000;"></i>
                <i id="next" class="fa-solid fa-chevron-right" style="color: #000000;"></i>
            </div>
        </header>
        <div class="calendar">
            <ul class="weeks">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="days"></ul>
        </div>
    </div>
    <a class="certificate-link">
        <div class="icon">
            <i class="fa-solid fa-certificate" id="certificate_icon"></i>
            <span class="sidebar-heading">Certificates</span>
        </div>
        <div class="certificate-message">
            <span>The Certificates module implementation is left for next iteration.</span>
        </div>
    </a>
</div>

<script>

    $(document).ready(function () {
        $('#sidebar-icons .calender-link').click(function () {
            if ($('#sidebar-icons .certificate-message:hidden').length === 0) {
                $('#sidebar-icons .certificate-message').fadeToggle(100);
            }
            $('.wrapper').fadeToggle(300);
        });
        $('#sidebar-icons .certificate-link').click(function () {
            if ($('.wrapper:hidden').length === 0) {
                $('.wrapper').fadeToggle(100);
            }
            $('#sidebar-icons .certificate-message').fadeToggle(300);
        });
        $('.close-calender').click(function () {
            $('.wrapper').hide(100);
        })
        $(window).resize(function () {
            if ($(window).width() >= 510) {
                if ($('#sidebar:hidden').length !== 0) {
                    $('#sidebar-icons').animate({ width: 4.2 * 16 }, 300);
                    $('#sidebar').show(400);
                }
            } else {
                $('#sidebar').hide(400)
            }
        });
    });
    $('.hamburger-menu').add('.cross-icon').on('click', function () {
        if ($('.wrapper:hidden').length === 0) {
            $('.wrapper').fadeToggle(100);
        };
        if ($('#sidebar-icons .certificate-message:hidden').length === 0) {
            $('#sidebar-icons .certificate-message').fadeToggle(100);
        };
        if ($(window).width() >= 510) {
            if ($('#sidebar-icons').width() !== (15 * 16)) {
                $('#sidebar-icons').animate({ width: 15 * 16 }, 300);
                $('#sidebar-icons').css('border-bottom-right-radius', '8px');
                $('#sidebar-icons').css('border-top-right-radius', '8px');
                $('#sidebar-icons a .icon .sidebar-heading').each(function () {
                    $(this).fadeIn(1000);
                    $(this).css('margin-left', '0.5em');
                });
            } else {
                $('#sidebar-icons a .icon .sidebar-heading').each(function () {
                    $(this).hide();
                });
                $('#sidebar-icons').animate({ width: 4.2 * 16 }, 400);
                $('#sidebar-icons').css('border-bottom-right-radius', '0px');
                $('#sidebar-icons').css('border-top-right-radius', '0px');
            }
        } else {
            if ($('#sidebar:hidden').length !== 0) {
                $('#sidebar').show()
                $('#sidebar-icons').css('width', '100%');
                $('#sidebar-icons').css('height', '100%');
                $('#sidebar-icons a .icon .sidebar-heading').each(function () {
                    $(this).fadeIn(200);
                    $(this).css('margin-left', '0.5em');
                });
            } else {
                $('#sidebar').hide()
                $('#sidebar-icons a .icon .sidebar-heading').each(function () {
                    $(this).fadeOut(200);
                });
            }
        }
    });

    const daysTag = document.querySelector(".days"),
        currentDate = document.querySelector(".current-date"),
        prevNextIcon = document.querySelectorAll(".icons i");

    let date = new Date(),
        currYear = date.getFullYear(),
        currMonth = date.getMonth();

    const months = ["January", "February", "March", "April", "May", "June", "July",
        "August", "September", "October", "November", "December"];

    const renderCalendar = () => {
        let firstDayofMonth = new Date(currYear, currMonth, 1).getDay(),
            lastDateofMonth = new Date(currYear, currMonth + 1, 0).getDate(),
            lastDayofMonth = new Date(currYear, currMonth, lastDateofMonth).getDay(),
            lastDateofLastMonth = new Date(currYear, currMonth, 0).getDate();
        let liTag = "";

        for (let i = firstDayofMonth; i > 0; i--) {
            liTag += `<li class="inactive">${lastDateofLastMonth - i + 1}</li>`;
        }

        for (let i = 1; i <= lastDateofMonth; i++) {
            let isToday = i === date.getDate() && currMonth === new Date().getMonth()
                && currYear === new Date().getFullYear() ? "active" : "";
            liTag += `<li class="${isToday}">${i}</li>`;
        }

        for (let i = lastDayofMonth; i < 6; i++) {
            liTag += `<li class="inactive">${i - lastDayofMonth + 1}</li>`
        }
        currentDate.innerText = `${months[currMonth]} ${currYear}`;
        daysTag.innerHTML = liTag;
    }
    renderCalendar();

    prevNextIcon.forEach(icon => {
        icon.addEventListener("click", () => {
            currMonth = icon.id === "prev" ? currMonth - 1 : currMonth + 1;
            if (currMonth < 0 || currMonth > 11) {
                date = new Date(currYear, currMonth);
                currYear = date.getFullYear();
                currMonth = date.getMonth();
            } else {
                date = new Date();
            }
            renderCalendar();
        });
    });

</script>