body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0d4877;
}

#main__body {
    display: flex;
    flex-direction: row;
}

#profile-body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #e3eef5;
    min-height: 60em;
    flex-grow: 100;
    padding: 2.5em;
    box-sizing: border-box;
}

#sidebar {
    width: 4.2em;
}

.profile-head {
    background-color: white;
    width: 100%;
    min-height: 8em;
    margin: 0 auto 1em;
    padding: 1.5em;
    color: #685a64;
    box-sizing: border-box;
    border: 1px solid #c5c6c6;
    border-radius: 8px;
}

.admin {
    margin-left: 0;
}



/* breadcrumb import */

.breadcrumbs {
    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: inline-flex;
    overflow: hidden;
    margin: 1.5em 1em 0 1.25em;
    word-wrap: break-word;
}

.breadcrumbs__item {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #685a64;
    outline: none;
    padding: 0.75em 0.75em 0.75em 1.25em;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
    background: #edf1f5;
    cursor: pointer;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
    background: #323f4a;
    color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
}

.breadcrumbs__item:before {
    background: #cbd2d9;
    margin-left: 1px;
}

.breadcrumbs__item:last-child {
    border-right: none;
}

.breadcrumbs__item.is-active {
    background: #edf1f5;
}

/* breadcrumb */


.profile-content {
    width: 100%;
    min-height: 40em;
    padding: 2em;
    border: 1px solid #c5c6c6;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
}


.content-heading {
    font-size: 1.25rem;
    color: #685a64;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2em;
}

.grid {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.upload__input {
    width: 95%;
    height: 4em;
    margin: auto;
    padding: 0.4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.upload__input form {
    margin-right: 0;
    /* margin-right: 1.5em; */
}

.upload__input input[type="submit"] {
    color: white;
    background-color: #433dbf;
    outline: none;
    border: 2px solid #433dbf;
    border-radius: 8px;
    width: 10em;
    height: 3em;
}

.upload__input input[type="submit"]:hover {
    cursor: pointer;
    background-color: #3e38b1;
}

.file__input__tag {
    width: 10em;
    border: 1px solid #b9bdc0;
    color: #685a64;
    border-radius: 8px;
    background-color: #edf1f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin-right: 0.5em;
    padding: 0.95em 2.5em;
    box-sizing: border-box;
}

.file__input__tag:hover {
    cursor: pointer;
    background-color: #d2dbe4;
}

.upload__input input[type="file"] {
    display: none;
}

.content__section {
    display: flex;
    padding: 1em 0;
}

.content__section table {
    width: 94%;
    margin: auto;
}

.content__section table .table__header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #433dbf; 
    color:white;
    height: 2.5em
}

.content__section table .Serial {
    text-align: center;
    border-top: 1px solid #323f4a;
}

.content__section table .filename {
    text-align: left;
    border: 1px solid #323f4a;
    border-bottom: 0;
    height: 2em;
    width: 85%;
    padding-right: 4px;
    margin: 0;
}

.content__section table .download {
    border-top: 1px solid #323f4a;
    text-align: center;
    font-size: 1.2em;
}

.content__section table .download i {
    cursor: pointer;
    color: black;
}
.content__section table .delete {
    border-top: 1px solid #323f4a;
    text-align: center;
    font-size: 1.2em;
}

.content__section table .delete i {
    cursor: pointer;
    color: black;
}

.content__section table .download i:hover {
    color: blue;
}

.content__section table .delete i:hover {
    color: red;
}

.content__file {
    margin:auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #685a64;
    width: 95%;
    overflow-wrap: break-word;
}

.content__file a {
    text-decoration: none;
    color: #685a64;
    width: 70%;
}

.content__file i {
    float: right;
    color: black;
}

.content__file i:hover {
    cursor: pointer;
    color: red;
}

.content__file a:hover{
    color: #433dbf;
}

.content__section table #table_Sr {
    width: 5%; 
    border-top-left-radius: 8px;
    border-right: 1px solid #d2dbe4;
}
.content__section table #table_file {
    width: 85%; 
    border-right: 1px solid #d2dbe4;
    text-align: left; 
    padding-left: 1em;
}
.content__section table #table_delete, #table_download {
    width: 10%; 
    border-top-right-radius: 8px;
}

.mark__complete__section {
    width: 94%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 0em;
    margin-top: 4em;
}

.mark__complete__div {
    margin: auto;
    margin-right: 0;
}

.mark__complete__section .mark__complete__div button {
    background-color: #007e50;
    color: white;
    padding: 1em;
    border-radius: 4px;
    border: none;
}

.mark__complete__section button:hover {
    cursor: pointer;
    background-color: #017048;
}

@media screen and (max-width: 768px) {
    .content__section {
        font-size: 0.9rem;
    }

    .content__section table .content__file {
        font-size: 0.9rem;
        padding-right: 0.5em;
    }

    .grid { 
        padding-left: 0;
    }

    .upload__input {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .upload__input form {
        margin-right: 0;

    }
    .upload__input input[type="submit"] {
        width: 7.5em
    }

    .file__input__tag {
        width: 7.5em;
        padding: 0.95em 1em;
    }

    .content__section {
        display: flex;
        padding: 1em 0;
    }
    
    .content__section table {
        width: 100%;
        margin: auto;
    }

    .mark__complete__section {
        width: 100%;
        font-size: 0.6rem;
    }

    .content__section table .table__header {
        font-size: 0.7rem;
        font-weight: 300;
    }

    .content__section table #table_Sr {
        width: 10%; 
    }
    .content__section table #table_file {
        width: 75%; 
    }
    .content__section table #table_delete, #table_download {
        width: 15%; 
    }

    .content__section table .filename { 
        width: 75%; 
    }

    .content__section table .Serial { 
        width: 10%; 
    }
    .content__section table .delete, .download { 
        width: 15%;
    }

    
}

@media screen and (max-width: 610px) {
    #profile-body {
        padding: 2.5em 1.5em;   
    }
}


@media screen and (max-width: 510px) {
    .breadcrumbs {
        font-size: 0.8rem;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 410px) {
    .breadcrumbs {
        font-size: 0.75rem;
    }

    #profile-body {
        padding: 2.5em 1em;   
    }
}